body{
    background-color: azure;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.links .link{
    border-radius: 100px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 6px;
    font-size: 24px;
}

.search .form-group button {
    margin: 5px;
}